body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
}

.orange-color{
    color: orange;
    font-family: 'Comfortaa', cursive;

}

.f-container{
    display: flex;
    width: 100%;
    margin-bottom: 60px;
    
}
.container{
    width: 50%;
}


.button{
    text-decoration:none;
    background-image: linear-gradient(orange,tomato);
    padding:15px 25px;
    border: 1px;
    border-radius: 30px;
    margin-top: 100px;
    color: white;
    box-shadow:  2px 2px 15px 1px orange;
    
}

.button:hover{
    background-image:linear-gradient(blue,lightblue)
}
.container img{
width: 40%;
}
.text-container{
    width: 30%;
}
.container-bg {
    padding-top: 50px;
    background-image: url(shape/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.top-image img{
    width:80%;
}
.heading-container{
    padding-left: 50px;
}
.container p{
    margin-bottom: 50px;
}
.image-person{
    padding-left: 100px;
}
.recipies1{
    display: flex;
    width: 100%;
    margin-left: 50px;
}
.recipies {
    width:25%;
    margin: 1%;
    border: 0px solid;
    border-radius: 20px;
    box-shadow: 2px 5px 10px 5px gray;
    padding: 20px;
    margin-left: 40px;

}
.recipies img{
    width:100%;
}
.recipi-text{
    text-align: center;
}
.m-container{
    display: flex;
    width: 77%;
    margin:90px 0px 30px 85px;

    border: 0px solid;
    border-radius: 10px;
    box-shadow: 2px 5px 10px 5px gray;
    padding: 10px 10px 10px 200px;
    
}
.media{
    width: 100%;
}
.media p{
    padding-bottom: 30px;
}
footer{
    width: 100%;
    text-align: center;
    background-color: black;
    margin: 100px 0px 0px 0px;
}
#footer-p{
    color: white;
    padding-bottom: 50px;
}
#grey{
    color: grey;
}
.food{
    padding-top: 40px;
}









